.formContainer{
    background-image: url('img/background.jpg');
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    .logo{
        color: rgb(3, 3, 3);
        font-weight: bold;
        font-size: large;
    }

    .title{
        color: #9C27B0;
        font-weight: bold;
        font-size: xx-large;
        font-weight: 900;
    }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            input{
                padding: 15px;
                border:1px solid #82127b;
                border-radius: 10px;
                border-bottom: 1px solid black;
                

                & ::placeholder{
                    color: rgb(175, 175, 175);
                } 
            }

            button{
                border: none;
                padding: 10px 15px;
                background-color: #fdc3f9;
                color: black;
                cursor: pointer;
                font-weight: 600;
                border-radius: 10px;
                width: 140px;
            }
            img{
                width: 12px;
                height: 12px;
            }
            label{
                display: flex;
                align-items: center;
                gap:10px;
                cursor: pointer;
                font-size: 12px;
                color: blue;
            }
        }
        p{
            color: blue;
            margin-top:15px;

        }
    }

}

.home{
    background-color: beige;
    background-image: url('img/background.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        width: 80%;
        height: 90%;
        border-radius: 5px;
        display: flex;
        overflow: hidden;
        box-shadow: 1px -1px 7px 0px #770101;

        
    }

    .sidebar{
        flex: 1;
        border-right: 1px solid black;
        background-color: #230121;

        .search{
            border-bottom: 1px solid grey;
            .searchForm{
                padding: 10px;
                border: 0.1px solid rgba(255, 255, 255, 0.573);
                margin: 10px;
                border-radius: 10px;
                input{
                    background-color: transparent;
                    border: none;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    outline: none;
                    &::placeholder{
                        color: rgba(255, 255, 255, 0.381);
                    }
                }
        }
        }

        .userChat{
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            cursor: pointer;
            margin: 10px;
            border-radius: 5px;
            background-color: #330d32;

            &:hover{
                background-color: black
            }

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .userChatInfo{
                span{font-size: 18px;
                font-weight: bolder;}
                p{font-size: 14px; color: lightgray;}
               
            }
        }

        .navbar{
            display: flex;
            background-color: #230121;
            padding: 10px;
            height: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: flex-start;
        }

        .logo{
            font-weight: bold;
            display: none;
        }

        .user{
            display: flex;
            gap: 10px;
            margin-left: 10px;
            color: #feebfd;
            font-size: large;
            height: 20px;
            font-weight: bolder;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;

            img{
                background-color: rgb(0, 0, 0);
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            button{
                background-color: #ce05c2;
                font-weight: bold;
                border-radius: 10px;
                height: 40px;
                width: 90px;
                border: none;
                cursor: pointer;
                color: white;

                &:hover{
                    background-color: #170016;
                }

            }

           
        }

  
    }

    .chat{
        flex:2;
        .chatInfo{
            height: 50px;
            background-color: #070007;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            color: lightgrey;
            font-size: 20px;
            font-weight: 600;
            color: white;
        }

        .chatIcons{
          display: flex;
          gap: 10px;
         cursor: pointer;

         img{
            height: 24px;
            cursor: pointer;
        }
        }
        .messages{
            background-color: #07000787;
            padding: 10px;
            height: calc(100% - 160px);
            overflow: scroll;
            scroll-behavior: smooth;
            overflow: scroll;
            
            .message{
                display: flex;
                gap: 20px;

                .messageInfo{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;

                    }
                }
                .messageContent{
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p{
                        background-color: #fdbbf9;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        max-width: max-content;
                    }
                    img{
                        width: 50%;
                    }
                }

                &.owner{
                    flex-direction: row-reverse;
                    .messageContent{
                        align-items: flex-end;
                    }

                    p{
                        background-color:#82127b;
                        color: white;
                        border-radius: 10px 0px 10px 10px;
                    }
                }
            }
        }

        .input{
            height: 50px;
            background-color: #070007;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #ffffff3d;
            

            input{
                width: 100%;
                border: none;
                outline: none;
                font-size: larger;
                color: white;
                background-color: #070007;
                
                &::placeholder{
                    color: rgba(255, 255, 255, 0.594);
                }
            }


            .send{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                }

                button{
                    border: none;
                    padding: 10px 15px;
                    background-color: #fdc3f9;
                    color: black;
                    cursor: pointer;
                    font-weight: 600;
                    border-radius: 10px;
                    width: 140px;
                }
            }

        }

        


    }

    ::-webkit-scrollbar {
        width: 1px;
        display: none;       
    }

}


  
 
